<div class="container w-50 mx-auto mt-20 ">

    <h1>Danh sách</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Ten</th>
          <th scope="col">Gia</th>
          <th scope="col">Mo ta</th>
          <th scope="col">Anh</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th scope="row">{{product.id}}</th>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.desc}}</td>
          <td><img width="30%" [src]="product.img" alt=""></td>
          <td><button (click)="update_product(product)" class="btn btn-primary">Update</button></td>
        </tr>
      </tbody>
    </table>
  
    <div class="add">
      <form id="add_form" #new_product="ngForm" (ngSubmit)="submit(new_product.value)" >
        <h1>Thêm</h1>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Tên</label>
          <input type="text" name="name"  class="form-control" id="name" aria-describedby="emailHelp" [(ngModel)]="product.name">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">price</label>
          <input  type="text"name="price" class="form-control" id="cannang"  [(ngModel)]="product.price">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">desc</label>
          <input  type="text" name="desc" class="form-control" id="chieucao" [(ngModel)]="product.desc">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">img</label>
          <input type="file" name="avt" class="form-control" id="avt" ngModel>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Old Avatar</label>
          <img style="width: 50%;" [src]="product.img" id="avt_old" class="form-control" alt="" >
          <input type="text" name="id" hidden class="form-control" id="name" aria-describedby="emailHelp" [(ngModel)]="product.id">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>